.sider-logo-container {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.sider-logo {
    width: 32px;
    height: 32px;
}

.sider-logo-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
}